# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [20]:
#Load the CSV from WeatherPy
weather_data = pd.read_csv("response.csv")
weather_data

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Laguna,18.02,52,1,3.60,38.42,-121.42
1,1,Coquimbo,16.15,87,6,1.50,-29.95,-71.34
2,2,Saint Paul Harbor,7.15,81,90,5.70,57.79,-152.41
3,3,Tasiilaq,0.15,90,100,0.50,65.61,-37.64
4,4,Vaini,29.15,70,20,4.10,-21.20,-175.20
...,...,...,...,...,...,...,...,...
546,546,Shelburne,-0.14,90,40,1.50,44.08,-80.20
547,547,Abhā,17.62,55,98,0.56,18.22,42.51
548,548,Amberley,8.38,87,1,1.78,39.20,-84.43
549,549,Bodh Gaya,26.15,69,20,4.60,24.70,84.98
550,550,Sukhobuzimskoye,5.15,25,20,7.00,56.50,93.27

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [21]:
#API's Day 3, Activity 10
#Drop NA rows
weather_data = weather_data.dropna()
weather_data

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Laguna,18.02,52,1,3.60,38.42,-121.42
1,1,Coquimbo,16.15,87,6,1.50,-29.95,-71.34
2,2,Saint Paul Harbor,7.15,81,90,5.70,57.79,-152.41
3,3,Tasiilaq,0.15,90,100,0.50,65.61,-37.64
4,4,Vaini,29.15,70,20,4.10,-21.20,-175.20
...,...,...,...,...,...,...,...,...
546,546,Shelburne,-0.14,90,40,1.50,44.08,-80.20
547,547,Abhā,17.62,55,98,0.56,18.22,42.51
548,548,Amberley,8.38,87,1,1.78,39.20,-84.43
549,549,Bodh Gaya,26.15,69,20,4.60,24.70,84.98
550,550,Sukhobuzimskoye,5.15,25,20,7.00,56.50,93.27

In [22]:
# Used API's Day 3, Activities 6 & 7 for reference

#Locations Data Frame
#temperature = []
#wind_speed = []
#cloudiness = []

#vacation = pd.DataFrame[{"Temperature": Temperature,
  #                       "Cloudiness": Cloudiness}]

#vacation.head()

#Lat and lng as locations
locations = weather_data[["Latitude", "Longitude"]]
locations

     Latitude  Longitude
0       38.42    -121.42
1      -29.95     -71.34
2       57.79    -152.41
3       65.61     -37.64
4      -21.20    -175.20
..        ...        ...
546     44.08     -80.20
547     18.22      42.51
548     39.20     -84.43
549     24.70      84.98
550     56.50      93.27

[551 rows x 2 columns]

In [23]:
# Humidity for the Weight
humidity = weather_data["Humidity"].astype(float)
humidity

0      52.0
1      87.0
2      81.0
3      90.0
4      70.0
       ...
546    90.0
547    55.0
548    87.0
549    69.0
550    25.0
Name: Humidity, Length: 551, dtype: float64

In [26]:
# Used day 3 API's Activity 7, Stu_Airport_Map
# Plot Heatmap
fig = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                 dissipating = False,max_intensity = 10,
                                point_radius = 1)
#Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
#Max temp less than 80 degrees but greater than 70 degrees

perfect_temp = weather_data["Temperature"] > 70, weather_data["Temperature"]< 80
perfect_temp


#max_temp = weather["Temperature"]< 80
#max_temp

(0      False
 1      False
 2      False
 3      False
 4      False
        ...
 546    False
 547    False
 548    False
 549    False
 550    False
 Name: Temperature, Length: 551, dtype: bool, 0      True
 1      True
 2      True
 3      True
 4      True
        ...
 546    True
 547    True
 548    True
 549    True
 550    True
 Name: Temperature, Length: 551, dtype: bool)

In [28]:
#Wind Speed less than 10mph
wind_speed = weather_data["Wind Speed"]<10 
wind_speed

0      True
1      True
2      True
3      True
4      True
       ...
546    True
547    True
548    True
549    True
550    True
Name: Wind Speed, Length: 551, dtype: bool

In [29]:
#Zero cloudiness
cloudiness = weather_data["Cloudiness"] == 0
cloudiness
cloudiness

0      False
1      False
2      False
3      False
4      False
       ...
546    False
547    False
548    False
549    False
550    False
Name: Cloudiness, Length: 551, dtype: bool

In [37]:
#New Data Frame to combine ideal weather conditions:
ideal_vacay = [perfect_temp, wind_speed,cloudiness]
ideal_vacay

[(0      False
  1      False
  2      False
  3      False
  4      False
         ...
  546    False
  547    False
  548    False
  549    False
  550    False
  Name: Temperature, Length: 551, dtype: bool, 0      True
  1      True
  2      True
  3      True
  4      True
         ...
  546    True
  547    True
  548    True
  549    True
  550    True
  Name: Temperature, Length: 551, dtype: bool), 0      True
 1      True
 2      True
 3      True
 4      True
        ...
 546    True
 547    True
 548    True
 549    True
 550    True
 Name: Wind Speed, Length: 551, dtype: bool, 0      False
 1      False
 2      False
 3      False
 4      False
        ...
 546    False
 547    False
 548    False
 549    False
 550    False
 Name: Cloudiness, Length: 551, dtype: bool]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
# Used API's Day 3 Activity 4 for reference
#Storing "hotel" into variable 
hotel_df = []

In [31]:
#Data Frame
latitude = ideal_vacay["Latitude"]
longitude = ideal_vacay["Longitude"]

In [39]:
#Day 3 API's, Activity 2
#Create Data Frame and add "Hotel Name" column to Data Frame. 
#Also, set a parameter to 5000 meters.
#Required parameters for a nearby search request: key, location (must be specified as latitude,longitude), and radius)


target_search = "lodging"
target_radius = 5000
target_type = "hotels"


for city in cities(ideal_vacay.loc[city]):
    latitude = ideal_vacay.loc[city]["Latitude"]
    longitude = ideal_vacay.loc[city]["Longitude"]
    
    city_location = f"{latitude},{longitude}"


#for hotel in weather_data:
    #latitude = weather_data["Latitude"]
    #longitude = weather_data["Longitude"]
    
    params= {
    "keyword": target_search
    "radius": target_radius,
    "type": target_type,
    "key": g_key
    }
    
#base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
base_url

SyntaxError: invalid syntax (<ipython-input-39-0c3172b6bb75>, line 25)

In [32]:
#run a request using the params dictionary
hotel_request = requests.get(base_url, params=params)
response = hotel_request.json()

In [15]:
#Convert response to json
#hotels_data = response.json()
response = hotel_request.json()

#Pretty print the json
print(json.dumps(hotels_data,indent=4, sort_keys=True))

{
    "html_attributions": [],
    "results": [],
    "status": "INVALID_REQUEST"
}

In [110]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map